.xephang{background: #BF3737; color: #fff; font-weight: bold; text-align: center}
.xephang1{background: #C59F49; color: #fff; font-weight: bold; text-align: center}
.xephang2{background: #67C761; color: #fff; font-weight: bold; text-align: center}
.xephang3{background: #4999D2; color: #fff; font-weight: bold; text-align: center}
.xephangothers{color: #000; font-weight: bold; text-align: center}